html {
    background-color: rgb(255,255,255);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 2fr));
    grid-gap: 20px;
    border: 2px solid rgb(255,0,0);
    background-color: rgb(175,255,255);
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 2fr;
    margin: 20px;
    border: 5px solid rgb(255,255,255);
    border-radius: 15px;
    background-color: rgb(255,192,203);
    box-shadow: 5px 5px 5px rgb(157,157,157);
}